<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing skynet.lt website" parallel="methods" thread-count="4">
    <test name="Test">
        <classes>
            <class name="dovydas.finalWork.tests.skytech.HomeSearchBarTest"/>
            <class name="dovydas.finalWork.tests.skytech.HomeTest"/>
            <class name="dovydas.finalWork.tests.skytech.LogInOutTest"/>
            <class name="dovydas.finalWork.tests.skytech.SortByPriceTest"/>
        </classes>
    </test>
</suite>